
.container{
  width:800px;
  text-align:center;
  margin:0 auto;
}


.row{
  height:50px;
  display:flex;
  padding:15px;
}


.row:hover{
  cursor:pointer;
  background-color: lightgrey;

}


.header{
  background:grey;
  position:sticky;
  top:0px;
  font-weight: 600;

}
.wd10{
  width:10%;
}



